@model FullApp.Models.Employee

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="text-align: center; color: darkmagenta; font-family:'Malgun Gothic'">Add a new Employee</h4>

            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Employee" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Please Select Image</label>
                        <input type="file" name="Image" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IsActive"></label>
                        <select asp-for="IsActive" class="form-control">
                            <option value="true">IsActive</option>
                            <option value="false">InActive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>


@*<h2 class="text-center">Login</h2>

<form asp-action="Create" asp-controller="Employee" enctype="multipart/form-data">

    <div class="container">
        <label for="uname"><b>User Email</b></label>
        <input class="form-control" asp-for="Email" placeholder="User Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>

        <label for="psw"><b>Password</b></label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <a asp-action="Register" asp-controller="Account" class="btn btn-outline-primary">Not Registered yet? Signup here....</a>
        <span class="psw">Forgot <a asp-action="Forget" asp-controller="Account">password?</a></span>
    </div>
</form>*@