@model FullApp.Models.Employee

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="text-align: center; color: darkmagenta; font-family:'Malgun Gothic'">Update Employee Details</h4>

            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Employee" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Please Select Image</label>
                        <input type="file" name="Image" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IsActive"></label>
                        <select asp-for="IsActive" class="form-control">
                            <option value="true">IsActive</option>
                            <option value="false">InActive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a asp-action="Index"class="btn btn-outline-primary">Back to List</a>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
