@model FullApp.Models.ViewModel.ResetPasswordModel



@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<style>
    .reset-pwd-aligmnet {
        margin-left: 16%;
        margin-right: 16%;
        margin-top: 5%;
    }
</style>




<h4 class="text-info" style="text-align:center">Reset Password</h4>

<form asp-controller="Account" asp-action="ResetPassword" mathod="post">


    <div class="reset-pwd-aligmnet">
        @if (ViewBag.Msg != null)
        {
            <span id="spanSuccessId" style="color:green; text-align:center">@ViewBag.Msg</span>
        }

        <input type="hidden" asp-for="@Model.Token" id="tokenId" />
        <input type="hidden" asp-for="@Model.Email" id="emalURLId" />

        <div class="form-group">
            <label class="control-label">Email:</label>
            <input asp-for="Email" class="form-control" disabled />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label class="control-label required">New Password:</label>
            <input asp-for="Password" id="resetpwd" type="password" class="form-control" />
            @*<span toggle="#Password-field" class=" fa fa-fw fa-eye field-icon toggle-password"></span>*@
            <span asp-validation-for="Password" id="ResetpasswordErrorMsg" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label class="control-label required">Confirm Password:</label>
            <input asp-for="ConfirmPassword" type="password" id="resetConfirmpwd" class="form-control" />
            @*<span toggle="#Password-field" class=" fa fa-fw fa-eye field-icon toggle-password"></span>*@
            <span asp-validation-for="ConfirmPassword" id="ResetConfirmpasswordErrorMsg" class="text-danger"></span>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="loginBtn">
                        <button type="submit" id="Btnresetid" class="btn btn-primary">Reset</button>

                    </div>
                    <div id="dvCountDown" style="display: none">
                        You will be redirected after <span id="lblCount"></span>&nbsp;seconds.
                    </div>

                    @*<div class="col-md-6"></div>
                        <div class="loginBtn">
                            <a href="@Url.Action("Login", "Home")" class="btn btn-primary" id="btnreset">Login</a>
                        </div>*@

                </div>

            </div>
        </div>




    </div>


</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
