@{ Layout = Layout; }


<h1 style="color:lawngreen;font-style:italic">Your Password has been Reset Successfully</h1>


@*<script>
        window.setTimeout(function () {
            window.location.href = 'Login';
        }, 5000);
    </script>*@







<div id="dvCountDown" style="display: none">
    Please <a asp-action="Login">click here to log in</a> or You will be redirected after <span id="lblCount" style="color:red"></span>&nbsp;seconds.
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        
            var seconds = 10;
            $("#dvCountDown").show();
            $("#lblCount").html(seconds);
            setInterval(function () {
                seconds--;
                $("#lblCount").html(seconds);
                if (seconds == 0) {
                    $("#dvCountDown").hide();
                    window.location.href = 'Login';
                }
            }, 1000);
        });
    
</script>